@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrolling-touch {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: auto;
  }
  .scrolling-touch::-webkit-scrollbar {
    display: none;
  }

  .scrolling-default {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
    overflow-x: inherit;
  }
  .scrolling-default::-webkit-scrollbar {
    display: block;
  }
}

.trapezoid {
  background: green;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  /* -webkit-transform: perspective(24px) rotateX(39deg) scale(0.6, 6.4); */
  transform: perspective(24px) rotateX(10deg) scale(0.8, 0.6);
}

.area {
  width: 60px;
  height: 60px;
  background-color: red;
}
